<template>
  <div id="app">
    <div class="gallery">
      <ImageTest v-for="img in imgs" :key="img" :img="img" />
    </div>
  </div>
</template>

<script>
import ImageTest from './components/Image.vue'

export default {
  name: 'App',
  components: {
    ImageTest
  },
  computed: {
    imgs() {
      return [
        'IMG_20180521_181608.webp',
        'IMG_20180521_193359.webp',
        'IMG_20180522_111356.webp',
        'IMG_20180522_130316.webp',
        'IMG_20180522_134446.webp',
        'IMG_20180522_135105.webp',
        'IMG_20180522_191042.webp',
        'IMG_20180524_112823.webp',
        'IMG_20180524_164453_1.webp',
        'IMG_20180525_103813.webp',
        'PANO_20180523_180815.webp',
        'IMG_20180526_095115.webp',
      ];
    }
  }
}
</script>
 
<style>
html {
  font-size: calc(100vw / 1920 * 10);
}

body, figure {
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.gallery {
  height: 295rem;
  position: relative;
  visibility: hidden;
}
</style>
